.LayOut{
  width: 100%;
  height : 3900px;
  background-color: #1a1a1a;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Content{
  width: 1000px;
  height : 1300px;
  /* background-color: yellow; */
  box-sizing: border-box;
  margin-bottom: 300px;
}

*{
  margin : 0;
}